
.inner {
  padding-bottom: 0;
}


#quoteDiv {
  margin: 0;
  height: 11em;
}

 #quote {
  font-size: 0.75em;
  line-height: 1;
}

#author {
  font-size: 1.6em;
}

#buttonContainer {
  margin-bottom: 0;
}

.footerDiv {
  display: none;
}
