* {
margin: 0;
}

html, body {
  height: 100%;
  color:rgb(235, 235, 235);
  background-color: #333;
}

body{
  background-repeat: no-repeat;
  font-weight: 300;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,2);
          box-shadow: inset 0 0 100px rgba(0,0,0,2);
}

@font-face {
  font-family: 'GameOfThrones';
  src: url('GameOfThrones.ttf') format('truetype');
}

h2 {
  font-family: 'GameOfThrones';
  color: white;
  margin:0;
  margin-bottom: 15px;
  padding-top:20px;
}
h4 {
  line-height: 1.5;

}

#quoteWrap {
  overflow: hidden;

}

#quoteDiv {
  margin: 0 30px;
  padding: 2em;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: left;
  background: rgba(245, 245, 245, 0.74);
  border-radius: 67px 67px 67px 67px;
  -moz-border-radius: 67px 67px 67px 67px;
  -webkit-border-radius: 67px 67px 67px 67px;


}

#quoteDiv > p {
  font-style: italic;
  font-size: 200%;
}

.buttonDiv {
  margin: 20px 0;
}


.bran {
  /*background-image: url('images/bran.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: : color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
  color:  rgb(181, 181, 181);
  background:  rgb(181, 181, 181);
}

.bronn {
  /*background-image: url('images/bronn.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: : color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
  color: brown;
  background: brown;
}

.brynden {
  /*background-image: url('images/brynden.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: : color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
  color: rgb(70, 120, 166);
  background:rgb(74, 128, 162);
}

.cersei {
  /*background-image: url('images/cersei.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: : color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
  color: rgb(196, 57, 48);
  background: rgb(179, 11, 0);
}

.cerseiTyrion {
  background: rgb(179, 11, 0);
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);
  color: rgb(179, 11, 0);
}

.daenarys {
  /*background-image: url('images/daenarys.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: : color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
  color: black;
  background: black;
}

.davos {
  /*background-image: url('images/davos.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
}

.hound {
  /*background-image: url('images/hound.jpg');
  background-size: 100%;
  background-position: 0 -100px;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
  color: rgb(236, 216, 40);
  background: rgb(236, 216, 40);
}

.jaime {
  /*background-image: url('images/jaime.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.11, .11, 1, .46);
  transition-timing-function: linear;
  color: rgb(196, 57, 48);
  background: rgb(179, 11, 0);
}
/*
.jon {
  /*background-image: url('images/jon.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);
}*/

.jon {
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: rgb(181, 181, 181);
  background: rgb(181, 181, 181);
}

.littlefinger {
  /*background-image: url('images/littlefinger.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: rgb(95, 170, 208);
  background: rgb(95, 170, 208);
}

.lordRodrik {
  /*background-image: url('images/lordRodrik.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: teal;
  background: teal;
}

.olenna {
  /*background-image: url('images/olenna.jpeg');
  background-size: 100%;
  background-position: 0 -300px;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: green;
  background: green;
}

.quaithe {
  /*background-image: url('images/quaithe.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: black;
  background: black;
}

.renly {
  /*background-image: url('images/renly.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: rgb(237, 225, 69);
  background: rgb(237, 225, 69);
}

.sam {
  /*background-image: url('images/sam.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: black;
  background: black;
}

.sansa {
  /*background-image: url('images/sansa.jpg');
  background-size: 100%;
  background-position: 0 -200px;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: rgb(181, 181, 181);
  background: rgb(181, 181, 181);
}

.tyrion {
  /*background-image: url('images/Tyrion-Lannister-game-of-thrones-37310814-1024-554.png');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: rgb(196, 57, 48);
  background: rgb(179, 11, 0);
}

.varys {
  /*background-image: url('http://i37.photobucket.com/albums/e89/capprotti02/Varys.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: rgb(117, 94, 180);
  background: rgb(117, 94, 180);
}

.victarion {
  /*background-image: url('images/victarion.jpg');
  background-size: cover;
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);*/
  transition-property: color, background;
  transition-duration: 0.8s;
  /*transition-timing-function: cubic-bezier(.11, .11, 1, .46);*/
  transition-timing-function: linear;
  color: black;
  background: black;
}

footer {
  position: fixed;
  bottom: 0;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Boot Strap CSS
 */


/*
 * Base structure
 */

body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background: transparent;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,2);
          box-shadow: inset 0 0 100px rgba(0,0,0,2);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;

}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  background: transparent;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.7;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,2);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

@media (max-width: 773px) {
  html, body {
    height: auto;
  }
}
