* {
margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  color:rgb(235, 235, 235);
  background-color: #333;
}

body{
  min-height: 100%;
  background-repeat: no-repeat;
  font-weight: 300;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,2);
          box-shadow: inset 0 0 100px rgba(0,0,0,2);
}

h4 {
  line-height: 1.5;

}

#quoteWrap {
  overflow: hidden;

}

#quoteDiv {
  margin: 0 15px;
  padding: 1.5em;
  height: 350px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: left;
  background: rgba(204, 204, 204, 0.6);
  border-radius: 67px 67px 67px 67px;
  -moz-border-radius: 67px 67px 67px 67px;
  -webkit-border-radius: 67px 67px 67px 67px;


}

#quoteDiv > p {
  font-style: italic;
  font-size: 1.2em;
}

.buttonDiv {
  margin: 20px 0;
}

#quoteButton {
  color: rgb(231, 231, 231);
  text-shadow: 0px 0px 4px #0e0e0e;
}


.bran {

  transition-property: : color, background;
  transition-duration: 0.25s;
  color:  rgb(122, 119, 119);
  background:  rgb(122, 119, 119);
}

.bronn {

  transition-property: : color, background;
  transition-duration: 0.25s;
  color: rgb(179, 11, 0);
  background: rgb(179, 11, 0);
}

.brynden {

  transition-property: : color, background;
  transition-duration: 0.25s;
  color: rgb(70, 120, 166);
  background:rgb(74, 128, 162);
}

.cersei {

  transition-property: : color, background;
  transition-duration: 0.25s;
  color: rgb(179, 11, 0);
  background: rgb(179, 11, 0);
}

.cerseiTyrion {
  background: rgb(179, 11, 0);
  transition: background-image, 0.25s, cubic-bezier(.11, .11, 1, .46);
  color: rgb(179, 11, 0);
}

.daenarys {

  transition-property: : color, background;
  transition-duration: 0.25s;
  color: black;
  background: black;
}

.davos {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(122, 119, 119);
  background: rgb(122, 119, 119);

}

.gameOfT {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: black;
  background: black;

}

.hound {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(196, 153, 0);
  background: rgb(196, 153, 0);
}

.jaime {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(196, 57, 48);
  background: rgb(179, 11, 0);
}

.jon {
  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(122, 119, 119);
  background: rgb(122, 119, 119);
}

.littlefinger {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(95, 170, 208);
  background: rgb(95, 170, 208);
}

.lordRodrik {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: teal;
  background: teal;
}

.olenna {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(21, 107, 22);
  background: rgb(21, 107, 22);
}

.quaithe {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: black;
  background: black;
}

.renly {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(196, 153, 0);
  background: rgb(196, 153, 0);
}

.sam {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: black;
  background: black;
}

.sansa {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(122, 119, 119);
  background: rgb(122, 119, 119);
}

.tyrion {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(179, 11, 0);
  background: rgb(179, 11, 0);
}

.varys {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: rgb(117, 94, 180);
  background: rgb(117, 94, 180);
}

.victarion {

  transition-property: color, background;
  transition-duration: 0.25s;
  color: black;
  background: black;
}

footer {
  position: fixed;
  bottom: 0;
}

body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background: transparent;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,2);
          box-shadow: inset 0 0 100px rgba(0,0,0,2);
}
.site-wrapper-inner {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: top;

}

.inner {
  padding: 30px;
  background: transparent;
}


.title {
  width: 100%;
}

.convictsDiv {
  position: absolute;
  top: 20px;
  width: 100%;
}

.fbgDiv {
  width: 100%;
  position: absolute;
  bottom:0px;
}

.footerText {
  color: rgba(255, 255, 255, 0.42);
}

.footerText:hover {
  color: $gray-lighter;
}

.btn {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.252)

}

.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.btn:focus, .btn:active {
  border-color: rgba(255, 255, 255, 0.02)
}

#buttonContainer {
  margin-bottom: 150px;
}
