* {
margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  color:rgb(235, 235, 235);
  background-color: #333;
}

body{
  min-height: 100%;
  background-repeat: no-repeat;
  font-weight: 300;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,2);
          box-shadow: inset 0 0 100px rgba(0,0,0,2);
}

h4 {
  line-height: 1.5;

}

#quoteWrap {
  overflow: hidden;

}

#quoteDiv {
  margin: 0 15px;
  padding: 1.5em;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: left;
  background: rgba(245, 245, 245, 0.74);
  border-radius: 67px 67px 67px 67px;
  -moz-border-radius: 67px 67px 67px 67px;
  -webkit-border-radius: 67px 67px 67px 67px;


}

#quoteDiv > p {
  font-style: italic;
  font-size: 1.2em;
}

.buttonDiv {
  margin: 20px 0;
}

#quoteButton {
  color: rgb(231, 231, 231);
  text-shadow: 0px 0px 4px #3a798c;
}


.bran {

  transition-property: : color, background;
  transition-duration: 0.8s;
  color:  rgb(122, 119, 119);
  background:  rgb(122, 119, 119);
}

.bronn {

  transition-property: : color, background;
  transition-duration: 0.8s;
  color: rgb(179, 11, 0);
  background: rgb(179, 11, 0);
}

.brynden {

  transition-property: : color, background;
  transition-duration: 0.8s;
  color: rgb(70, 120, 166);
  background:rgb(74, 128, 162);
}

.cersei {

  transition-property: : color, background;
  transition-duration: 0.8s;
  color: rgb(179, 11, 0);
  background: rgb(179, 11, 0);
}

.cerseiTyrion {
  background: rgb(179, 11, 0);
  transition: background-image, 0.8s, cubic-bezier(.11, .11, 1, .46);
  color: rgb(179, 11, 0);
}

.daenarys {

  transition-property: : color, background;
  transition-duration: 0.8s;
  color: black;
  background: black;
}

.davos {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(122, 119, 119);
  background: rgb(122, 119, 119);

}

.gameOfT {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: black;
  background: black;

}

.hound {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(196, 153, 0);
  background: rgb(196, 153, 0);
}

.jaime {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(196, 57, 48);
  background: rgb(179, 11, 0);
}

.jon {
  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(122, 119, 119);
  background: rgb(122, 119, 119);
}

.littlefinger {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(95, 170, 208);
  background: rgb(95, 170, 208);
}

.lordRodrik {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: teal;
  background: teal;
}

.olenna {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(21, 107, 22);
  background: rgb(21, 107, 22);
}

.quaithe {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: black;
  background: black;
}

.renly {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(196, 153, 0);
  background: rgb(196, 153, 0);
}

.sam {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: black;
  background: black;
}

.sansa {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(122, 119, 119);
  background: rgb(122, 119, 119);
}

.tyrion {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(179, 11, 0);
  background: rgb(179, 11, 0);
}

.varys {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: rgb(117, 94, 180);
  background: rgb(117, 94, 180);
}

.victarion {

  transition-property: color, background;
  transition-duration: 0.8s;
  color: black;
  background: black;
}

footer {
  position: fixed;
  bottom: 0;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Boot Strap CSS
 */


/*
 * Base structure
 */

body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background: transparent;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,2);
          box-shadow: inset 0 0 100px rgba(0,0,0,2);
}
.site-wrapper-inner {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: top;

}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  background: transparent;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.7;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,2);
  position: relative;
}


/*
 * Affix and center
 */

 /*Small devices (landscape phones, 544px and up)*/

 @media (min-width: 544px) {
   #quoteDiv {
     margin: auto;
   }
 }

 @media (max-width: 767px) {
   .cover-container {
       height: 100%;
   }
   .mastfoot {
     position: absolute;
     bottom: 0;
     left: 35px;
   }
 }

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    bottom: 0;
    width: 100%;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*@media (max-width: 773px) {
  html, body {
    height: 100%;
  }
}*/

/*
// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/
