html, body {
  min-width: 100%;
  min-height: 100%;
  color:rgb(235, 235, 235);
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Arimo', sans-serif;
}

@font-face {
  font-family: 'GameOfThrones';
  src: url('GameOfThrones.ttf') format('truetype');
}
h3 {
  font-family: 'GameOfThrones';
}
h4 {
  line-height: 1.5;
}
#quoteDiv {
  padding: 5em 2em;
  text-align: left;
  text-shadow: 3px 0px 5px rgba(20, 20, 20, 0.94);
}

#quoteDiv > p {
  font-style: italic;
  font-size: 200%;
}

#quoteButton {
  position: absolute;

}

#pract {
  background: rgb(52, 72, 208);
  display: block;
}

.gameOfT {
  background-image: url('http://widewallpaper.info/wp-content/uploads/2016/03/Game-of-thrones-Wallpaper-16.jpeg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.bran {
  background-image: url('images/bran.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.bronn {
  background-image: url('images/bronn.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.brynden {
  background-image: url('images/brynden.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.cersei {
  background-image: url('images/cersei.png');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.cerseiTyrion {
  background-image: url('images/cerseiTyrion.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.daenarys {
  background-image: url('images/daenarys.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.davos {
  background-image: url('images/davos.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.hound {
  background-image: url('images/hound.jpg');
  background-size: 100%;
  background-position: 0 -100px;
  transition: background-image, .5s, ease-out;
}

.jaime {
  background-image: url('images/jaime.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.jon {
  background-image: url('images/jon.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.littlefinger {
  background-image: url('images/littlefinger.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.lordRodrik {
  background-image: url('images/lordRodrik.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.olenna {
  background-image: url('images/olenna.jpeg');
  background-size: 100%;
  background-position: 0 -300px;
  transition: background-image, .5s, ease-out;
}

.quaithe {
  background-image: url('images/quaithe.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.renly {
  background-image: url('images/renly.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.sam {
  background-image: url('images/sam.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.sansa {
  background-image: url('images/sansa.jpg');
  background-size: 100%;
  background-position: 0 -200px;
  transition: background-image, .5s, ease-out;
}

.tyrion {
  background-image: url('images/Tyrion-Lannister-game-of-thrones-37310814-1024-554.png');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.varys {
  background-image: url('http://i37.photobucket.com/albums/e89/capprotti02/Varys.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

.victarion {
  background-image: url('images/victarion.jpg');
  background-size: cover;
  transition: background-image, .5s, ease-out;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
